{% extends "::base.html.twig" %}

{% block title %}Casscroute blog{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" class="ui" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.4/semantic.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{asset('css/style.css') }}">
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.4/semantic.min.js"></script>

    <script type="text/javascript">
    $(function() {
        $('.ttip').popup({on: 'click'}); // Activation des tooltips
        $('.ui.dropdown').dropdown();
    });
    </script>

{% endblock %}

{% block body %}
    {% include "CasscrouteBlogBundle:Includes:menu.html.twig" %}
    <div class="ui main text container">
        {% block blog_body %}{% endblock %}
    </div>
{% endblock %}
