{% extends "::base.html.twig" %}

{% block title %}Casscroute blog{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" class="ui" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.4/semantic.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.4/semantic.min.js"></script>
{% endblock %}

{% block body %}
    <div class="ui menu inverted">
        <div class="header item">
            <a href="{{path('casscroute_blog_homepage')}}">Casscroute Blog</a>
        </div>
        <div class="right menu">
            {% if is_granted("ROLE_USER")%}
                <div class="item">
                    Bonjour {{app.user.username}}
                </div>
                <a class="item" href="{{path('fos_user_security_logout')}}">
                    <i class="fa fa-sign-out"></i>
                </a>
            {% endif %}
        </div>
    </div>
    {% block blog_body %}{% endblock %}
{% endblock %}
