body {
    background-color: #E2E1E1;
}
.ui.menu .item img.logo {
    margin-right: 1.5em;
}
.main.container {
    margin-top: 7em;
    margin-bottom: 4em;
    background-color: white;
    padding: 20px;
}
.wireframe {
    margin-top: 2em;
}
.ui.footer.segment {
    margin: 5em 0em 0em;
    padding: 5em 0em;
}
.pr {
    padding-right: 10px;
}
#interface {
    height: 100%;
}
#interface > .grid{
    height: 100%;
}
.column{
    max-width: 450px;
}
#checkbox_login{
    margin-bottom: 17px;
}
.titleArticle {
    color: black;
}
.divider.post {
    margin-top: 25px;

}
.ui.vertical.segment.masthead {
    margin-bottom: 30px;
}
.masthead h1 a {
    color: white;
}
.icon {
    width: 30px;
}
.post-unique img {
    width: 100%;
    -webkit-box-shadow: 10px;
}
.post-unique {
    margin-bottom: 20px;
}
