{% set notice = app.session.flashbag.get('notice')|last %}
{% if notice is not empty %}
    <div class="ui positive message">
        <i class="close icon"></i>
        <div class="header">
            Bravo!
        </div>
        {{ notice }}
    </div>
{% endif %}

{% set error = app.session.flashbag.get('error')|last %}
{% if error is not empty %}
    <div class="ui negative message">
        <i class="close icon"></i>
        <div class="header">
            Zut alors...
        </div>
        {{ error }}
    </div>
{% endif %}
